.card-wrapper{
    width: 20vw;
}

.book-card {
    padding-right: 3vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    cursor: pointer;
    transition: transform .1s;
}

.book-card:hover{
    transform: scale(1.01);
}

.author-name{
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-size: 1rem;
    color: #0097a7;
}

.book-card-text {
    color: #757575;
    font-size: 0.8rem;
}

.book-card-text-highlite{
    color: #212121;
}

img{
    max-width : 180px;
    max-height: 220px;
}