<app-dashboard></app-dashboard>

<div class="container" margin-left="300px">

    <div class="col-xl-10 col-lg-9 col-md-8 p-0 ml-auto">

        <div class="row">

            <div class="col-md-12 m-5 mx-auto">
                <h1 style="text-align: center;">My Payments</h1>
                <table class="table bg-light   mt-4">

                    <thead class="thead-light">

                        <tr class="text-muted">

                            
                            <th>Amount</th>
                            <th>Coins</th>
                            <th></th>
                       

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let s of paymentDetails"> 
                            
                            <td>{{s.amount}}</td>
                            <td>{{s.coins}}</td>
                           
                           
                        </tr>
                        
                       
        
                    </tbody>
                     
                        
                  
                 
                </table>
            </div>
        </div>
    </div>
</div>

