<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <section class="form my-4 mx-5">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-lg-6">
                    <img src="assets/images/image1.jpg" alt="hello" class="img-fluid">
                </div>
                <div class="col-lg-6 px-5 pt-5">
                    <form [formGroup]="signUp">

                        <h2 class="heading1">Sign Up</h2>
                        <div class="form-row">
                            <div class="col-lg-9">
                                <input type="text" id="firstName" class="form-control" formControlName="firstName"
                                    placeholder="First Name" />
                            </div>

                            <div class="col-lg-9">
                                <input type="text" id="lastName" class="form-control" formControlName="lastName"
                                    placeholder="Last Name" />
                            </div>

                            <div class="col-lg-9">
                                <input type="email" id="email" class="form-control" formControlName="email"
                                    placeholder="E mail address" />
                            </div>

                            <div class="col-lg-9">
                                <input type="password" id="password" class="form-control" formControlName="password"
                                    placeholder="Password" />
                            </div>


                            <div class="col-lg-9">
                                <button type="button" class="btn btn-dark btn-block ">Register</button>

                            </div>
                       
                            <div class="col-lg-9">
                                <hr>
                                <p class="text">or</p>
                                <a href="#" class="fa fa-facebook"></a>
                            </div>
                            
                            <div class="col-lg-9">
                                <p>Already a member? <a href="#">Log in</a></p>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>

</html>